<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template:: head"></head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<header th:replace="plantilla/template:: header"></header>


<table class="table">
				<thead>
					<tr style="text-align: right;">
						<th colspan="8"><a class="btn btn-success">Nuevo Proveedor</a> </th>
					</tr>
					<tr>
						<th>#</th>
						<th>Nit</th>
						<th>Nombre</th>
						<th>Direccion</th>
						<th>Telefono</th>
						<th colspan="2">Operaciones</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="u:${proveedor}">
						<td scope="row" th:text="${u.id}"></td>
						<td th:text="${u.nit}"></td>
						<td th:text="${u.nombre}"></td>
						<td th:text="${u.direccion}"></td>
						<td th:text="${u.telefono}"></td>
						<td><a class="btn btn-danger"
							th:href="@{/eliminarProveedor/}+${u.id}">Eliminar</a></td>
						<td><a class="btn btn-success" th:href="@{/proveedor/}+${u.id}">Acutalizar</a></td>
						
					</tr>
					</c:forEach>
					
				</tbody>
			</table>
</body>
</html>